/* Reset CSS para remover margens e preenchimentos padrão */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Estilo global da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-image: linear-gradient(#e0e0e0, white);
}


h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form p{
    padding-top: 30px;  
    text-align: center;  
}

form h4{
    text-align: center;
}

form h4 input{
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form h4 input:hover {
    transition: 1s;
    background-color: #003f83;

}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

nav ul a {
    cursor: pointer;
    --c: no-repeat linear-gradient(#7f8283 0 0);
    background: 
      var(--c)  calc(-101% + var(--p,0%)) 100%,
      var(--c)  calc( 201% - var(--p,0%)) 0;
    background-size: 50.1% var(--p,.08em);
    padding: 4px;
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
  }
  nav ul a:hover {
    --p: 101%;
    --t: 0.3s;
    color: #e6e5e5;
  }

.task-text {
    flex: 1;
}


footer {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
}
